* {
    margin: 0;
    padding: 0 0 0.5rem;
    box-sizing: border-box;
}

html {
    color: rgb(226, 215, 182);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    background-color: rgb(0, 72, 44);
}